@font-face {
  font-family: "work_sansregular";
  src: url("../fonts/worksans-regular-webfont.woff2") format("woff2"),
    url("../fonts/worksans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "work_sansbold";
  src: url("../fonts/worksans-bold-webfont.woff2") format("woff2"),
    url("../fonts/worksans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'work_sanslight';
    src: url('../fonts/worksans-light-webfont.woff2') format('woff2'),
         url('../fonts/worksans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}