// Fonts

$fontWorkSpaceBold: "work_sansbold";
$fontWorkSpaceRegular: "work_sansregular";
$fontWorkSpaceLight: "work_sanslight";

// Colors

$mainColor: #101828;

body {
  background-color: #f7f7f7;
}
